<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/44055c02-6ea5-483e-b615-a0acacb1cb67/resourceGroups/rg-neueswatch/providers/Microsoft.Web/sites/app-services-neueswatch</ResourceId>
    <ResourceGroup>rg-neueswatch</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://app-services-neueswatch.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://app-services-neueswatch.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$app-services-neueswatch</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>